@using Penny.UI
@model UserModel
@{
	ViewBag.Title = UIConfig.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
	@using (Html.BeginForm("LogOn", "Account"))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary()

		<table>
			<tr>
				<td>@Html.LabelFor(m => m.Name)</td>
				<td>@Html.TextBoxFor(m => m.Name)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Password)</td>
				<td>@Html.PasswordFor(m => m.Password)</td>
			</tr>
			<tr>
				<td colspan="2">@Html.CheckBoxFor(m => m.RememberMe)
					@Html.LabelFor(m => m.RememberMe)</td>
			</tr>
		</table>
		<input type="submit" value="Log in" />
 }
</section>
